<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-start">Modifier Joueur</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>  
  <ion-content>
    <form #editJoueurs="ngForm" (ngSubmit)="onSubmit()" >
    <ion-card>
      <ion-card-content>
      <ion-row>
      <ion-col size="6">
      <ion-input
      type="text"
      id="newJoueur"
      name="nom"
      class="inputWidth"
      [(ngModel)]="playerModif.nom"
      required
      placeholder="Nom du joueur"
      ></ion-input>
    </ion-col>
    <ion-col size="6">
      <ion-input
      type="text"
      id="newJoueur"
      name="prenom"
      class="inputWidth"
      required
      [(ngModel)]="playerModif.prenom"
      placeholder="Prénom du joueur"
      ></ion-input>
    </ion-col>
    </ion-row>
    <ion-row>
       <ion-col size="7">
      <ion-input
      type="text"
      id="newJoueur"
      name="email"
      class="inputWidthEmail"
      required
      [(ngModel)]="playerModif.email"
      placeholder="Email du joueur"
      ></ion-input>
    </ion-col>
      <ion-col size="5">
      <ion-input
      type="text"
      id="newJoueur"
      name="tel"
      class="inputWidth"
      required
      [(ngModel)]="playerModif.tel"
      placeholder="Téléphone du joueur"
      ></ion-input>
      </ion-col>
    </ion-row>
      <ion-list>
    <label for="poste">Postes</label>
    <ion-item>
      <select>
        <option *ngFor="let p of poste; let i=index" [value]="playerModif.poste" (change)="PosteValue(p.nom)" [selected]="testPoste(p.nom)">{{p.nom}}</option>
      </select>
    </ion-item>
  </ion-list>
    </ion-card-content>
    <ion-item>
      <ion-label position="floating" class="ion-padding ion-margin">Photo :</ion-label>
      <ion-input type="file" name="photo" accept="image/*" (change)="uploadFile($event)" ></ion-input>
    </ion-item>
  </ion-card>
  <ion-button type="submit" expand="full">Valider</ion-button>
  </form>
  </ion-content>
  
</ion-content>
