<ion-tabs>

  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="home">
      <ion-icon name="home" color="light"></ion-icon>
      <!-- <ion-label>Home</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="match">
      <ion-icon name="basketball" color="light"></ion-icon>
      <!-- <ion-label>Match</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="players">
      <ion-icon name="game-controller" color="light"></ion-icon>
      <!-- <ion-label>Players</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
