<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-start">Ajouter un joueur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #addJoueurs="ngForm">
  <ion-card>
    <ion-card-content>
    <input
    type="text"
    id="newJoueur"
    name="nom"
    #nom="ngModel"
    [(ngModel)]="newJoueur.nom"
    required
    placeholder="Nom du joueur"
    >
    <br>
    <input
    type="text"
    id="newJoueur"
    name="prenom"
    #prenom="ngModel"
    [(ngModel)]="newJoueur.prenom"
    required
    placeholder="Prénom du joueur"
    >
    <br>
    <input
    type="text"
    id="newJoueur"
    name="email"
    #email="ngModel"
    [(ngModel)]="newJoueur.email"
    required
    placeholder="Email du joueur"
    >
    <br>
    <input
    type="text"
    id="newJoueur"
    name="tel"
    #tel="ngModel"
    [(ngModel)]="newJoueur.tel"
    required
    placeholder="Téléphone du joueur"
    >
    <br>
    <ion-list>
  <label for="poste">Postes</label>
  <ion-item *ngFor="let p of poste; let i=index">
    <ion-label>{{p.nom}}</ion-label>
    <input type="radio" name="poste" id="poste" #poste ng-model=""  [value]="i" (click)="PosteValue(i)" slot="end">
  </ion-item>
  <!-- <ion-item>
  <ion-select ng-model="mySelect" (ng-change)="showSelectValue(mySelect)">
    <ion-select-option *ngFor="let p of poste" name="poste" id="newJoueur" [value]="p">{{p.nom}}</ion-select-option>
  </ion-select>
</ion-item> -->
</ion-list>
  </ion-card-content>
</ion-card>
<ion-button expand="full" (click)='addJoueur(nom.value, email.value, tel.value, prenom.value,poste.value)'>Valider</ion-button>
</form>
</ion-content>
