<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Update club</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-margin" *ngIf="contact">
  <!-- <h2 class="ion-text-center ion-margin">Modifier les infos du club</h2> -->
  <form #contactForm="ngForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nom du club : </ion-label>
      <ion-input type="text" name="nom" [(ngModel)]="contact.nom" required placeholder="Nom du club"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Adresse :</ion-label>
      <ion-input type="text" name="adresse" [(ngModel)]="contact.adresse" required placeholder="Adresse"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Code postal :</ion-label>
      <ion-input type="text" name="codePostal" [(ngModel)]="contact.codePostal" required placeholder="Code postal"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Ville :</ion-label>
      <ion-input type="text" name="ville" [(ngModel)]="contact.ville" required placeholder="Ville"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Téléphone :</ion-label>
      <ion-input type="text" name="tel" [(ngModel)]="contact.tel" required placeholder="Téléphone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email :</ion-label>
      <ion-input type="text" name="email" [(ngModel)]="contact.email" required placeholder="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Logo :</ion-label>
      <ion-input type="file" name="logo" accept="image/*" (change)="uploadFile($event)" ></ion-input>
      <progress max="100" value="{{ uploadPercent | async }}"></progress>
					{{ uploadPercent | async | number:'1.0-2' }} %
    </ion-item>
    <ion-button type="submit" class="ion-margin" expand="block" [disabled]="!contactForm.valid">Enregistrer</ion-button>
  </form>

</ion-content>
