<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title size="large">
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-text-center" *ngFor="let c of contact">
    <h1 class="nameTeam">{{c.nom}}</h1>
    <img [src]="c.logo" alt="logo"/>
  </div>

  <ion-list class="ion-margin" *ngFor="let c of contact">
    <ion-item>
      <ion-icon name="location" class="ion-padding-end ion-margin-end"></ion-icon>
      <p class="ion-padding-start ion-margin-start">{{c.adresse}}<br>
      {{c.codePostal}} {{c.ville}}</p>
    </ion-item>
    <ion-item>
      <ion-icon name="call" class="ion-padding-end ion-margin-end"></ion-icon>
      <p class="ion-padding-start ion-margin-start">{{c.tel}}</p>
    </ion-item>
    <ion-item>
      <ion-icon name="at" class="ion-padding-end ion-margin-end"></ion-icon>
      <p class="ion-padding-start ion-margin-start">{{c.email}}</p>
    </ion-item>
  </ion-list>

  <ion-button expand="full" class="ion-padding-horizontal" [routerLink]="['/tabs/home/edit-home']">MODIFIER</ion-button>
  

</ion-content>
