ion-content ion-toolbar {
  --background: translucent;
}

.nameTeam{
    font-family: 'Passion One', cursive;
    font-size: 3.5em;
    text-shadow:0 4px 0 #00ecff, 0 -4px 0 #ff4045;
    // -webkit-text-stroke: 2px;
    // -webkit-text-stroke-color: #fff;
    text-transform: uppercase;
}

ion-button{
  --box-shadow:2px 10px 28px -14px rgba(0,0,0,0.75);
}
